<main>
   <div class="container">
   <div class="row">
   <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
       <% if @book.errors.any? %>
       <%= @book.errors.count %>errors prohibited this obj from being saved:
       <% @book.errors.full_messages.each do |message| %>
       <%= message %>
       <% end %>
       <% end %>
<h2>Editing Book</h2>

    <%= form_with model: @book, local:true do |f| %>
    <p>Title</p>
     <%= f.text_field :title %>
    <p>Opinion</p>
     <%= f.text_area :body %>
    <div class="form-group">
     <tb><%= f.submit "Update Book", class: "btn btn-success" %></tb>
     <% end %>
     <th></th>
     <tb><%= link_to "Show", book_path(@book) %>|<%= link_to "Back", books_path %></tb>

    </div>
  </div>
</main>