<!DOCTYPE html>

<html>
  <head>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="/"><span>Bookers</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">

          <%= link_to "Home", root_path, class:"fas fa-home nav-link text-light" %>
          <%= link_to "Users",users_path, class:"fas fa-users nav-link text-light" %>
           <%= link_to "Books", books_path, class:"fas fa-book nav-link text-light" %>
           <%= link_to "logout", destroy_user_session_path, method: :delete, class:"fas fa-sign-out-alt  nav-link text-light" %>

        </ul>
      </div>
    </div>
  </nav>
</header>
    <br></br>

    <%= yield %>
     <center>
    <p>CopyRight Infratop.inc</p>
     </center>
    <% if user_signed_in? %>

   <li>

      <%= link_to 'マイページ', user_path(current_user.id), class: "btn btn-secondary" %>
    </li>
      <li>

      </li>
    <% end %>

  </body>



</html>
